/* Website styling */
:root{
    --colorBlue:rgb(78, 189, 253);
    --colorTan:rgb(235, 235, 235);
    --colorBlack: rgb(0, 0, 0);
    --background:linear-gradient(to bottom, var(--colorBlack), var(--colorTan));
    /* --background:linear-gradient(to bottom, var(--colorBlue), var(--colorTan)); */
    --font:'Courier New', Courier, monospace;
    
    --genHeaderHeight:20%;

}
html{
    width:100%;
    height:100%;
}
body {
    background-color:var(--colorTan);
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
nav{
    margin:0;
    padding-top: 5px;
    padding-bottom: 5px;
}
main{
    margin:0;
}
.full-div{
    display: flex;
    flex-direction: column;
    width:100%;
    height:100%;
    z-index: 0;
}

.header{
    background-image:var(--background);
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: var(--genHeaderHeight);
    /* padding-bottom:20px; */
}
.websiteTitle{
    color:var(--colorTan);
    font-family:var(--font);
    font-size:50px;
    margin-bottom: 0px;
    margin-top: 0px;
}
.navigation{
    margin:0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding:0px 10px;
}
.navLinks{
    color:var(--colorTan);
    padding:20px 20px;
    margin: 0px 16px;
    font-family:var(--font);
    font-size:20px;
    font-weight:bold;
    text-decoration:none;
}
