:root{
    --colorBlue:rgb(78, 189, 253);
    --colorTan:rgb(235, 235, 235);
    --colorBlack: rgb(0, 0, 0);
    --headerBackground:var(--colorBlack);
    /* --background:linear-gradient(to bottom, var(--colorBlack), var(--colorTan)); */
    --font:'Courier New', Courier, monospace;
    --headerHeight:5%;
    --markersHeight:20%;
    --whiteboardHeight:calc(100% - var(--headerHeight) - var(--markersHeight));
}
html{
    width:100%;
    height:100%;
    margin:0;
}
body {
    background-color:var(--colorTan);
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.full-div{
    width:100%;
    height:100%;
}